<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotificationControl"
        tools:targetApi="31">
        <activity
            android:name=".Shopping"
            android:exported="false"
            android:label="Shopping"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GamesApps"
            android:exported="false"
            android:label="Games Apps"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OttPlatformApps"
            android:exported="false"
            android:label="Ott Platform Apps"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FinanceApps"
            android:exported="false"
            android:label="Finance Apps"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PaymentsApps"
            android:exported="false"
            android:label="Payments Apps"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GoogleApps"
            android:exported="false"
            android:label="Google Apps"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SystemApps"
            android:exported="false"
            android:label="System Apps"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SocialMedia"
            android:exported="false"
            android:label="Social Media"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false"
            android:label="Privacy Policy"
            android:parentActivityName=".AllApps">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TermsCondition"
            android:exported="false"
            android:label="Terms and Condition"
            android:parentActivityName=".AllApps">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ContactUs"
            android:exported="false"
            android:label="Contact Us"
            android:parentActivityName=".AllApps">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AllApps"
            android:exported="false"
            android:label="All Apps"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>